body{
    margin: 0;
    padding: 0;
}

.hero{
    background-color: #FFFBF1;
    display:flex;
    justify-content:center ;
    height: 100vh;
    align-items:center ;
    gap:70px;
}

.profile-img{
    height:auto;
    width:380px;
    border-radius: 50px;
}

.hero-text >h2{
    font-family: "Playfair Display";
    font-size: 50px;
}

.hero-text > h1{
    font-family: "Poppins";
    font-size: 65px;
}

.nav{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
    gap: 45px;
    background-color: #FFF2D0;
    margin:0;
}